<?xml version="1.0"?>
<robot name="my_robot_2f_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find self_designed_robot)/urdf/xacro/my_robot_2f.xacro" />
    <xacro:include filename="$(find self_designed_robot)/urdf/xacro/camera.xacro" />
    <xacro:include filename="$(find self_designed_robot)/urdf/xacro/laser.xacro" />
     
    <my_robot_base/>


    <xacro:property name="camera_offset_x" value="0.17" />
    <xacro:property name="camera_offset_y" value="0.0" />
    <xacro:property name="camera_offset_z" value="0.1" />
    <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="camera_link" />
    </joint>

    <xacro:use_camera prefix="camera" />


    <xacro:property name="laser_offset_x" value="0.0" />
    <xacro:property name="laser_offser_y" value="0.0" />
    <xacro:property name="laser_offset_z" value="0.04" />

    <joint name="laser_joint" type="fixed">
        <origin xyz="${laser_offset_x} ${laser_offser_y} ${laser_offset_z}" rpy="0 0 0" />
        <parent link="base_link_l2" />
        <child link="laser_link" />
    </joint>

    <xacro:use_laser prefix="laser" />

</robot>